@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

<!DOCTYPE html>
<html lang="en" class="theme">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["PageTitle"]</title>
  <meta name="description" content="@ViewData["PageDescription"]">
  <meta property="og:title" content="@ViewData["MetaTitle"]" />
  <meta property="og:description" content="@ViewData["MetaDescription"]" />
  <meta name="author" content="Fadi Ksho">
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="2411821265711958" />
  <meta property="og:url" content="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" />
  @if (hostingEnv.EnvironmentName == "Production")
  {
    <meta property="og:image" content="https://codeandcoffees.com/images/codeandcoffees-brand-2400x1260.png" />
  }
  else if (hostingEnv.EnvironmentName == "Staging")
  {
    <meta property="og:image" content="https://staging.codeandcoffees.com/images/codeandcoffees-brand-2400x1260.png" />
  }
  <meta property="og:image:height" content="1257">
  <meta property="og:image:width" content="2400">
  <link rel="icon" type="image/x-icon" href="~/favicon.ico">
  
    <link href="/dist/style.css" rel="stylesheet" />
  
  @RenderSection("Styles", required: false)
<meta name="apple-mobile-web-app-title" content="Code And Coffees" /><meta name="apple-mobile-web-app-capable" content="yes" /><meta name="apple-mobile-web-app-status-bar-style" content="default" /><meta name="theme-color" content="#FF7B39" /><link rel="manifest" href="/dist/manifest.9e6d34242f9302053a846a9822c6378d.json" /></head>
<body data-controller="@ViewContext.RouteData.Values["Controller"]" data-action="@ViewContext.RouteData.Values["Action"]">
  <nav class="nav">
    <div class="nav-brand">
      <a class="nav-brand-link underline-from-center underline-from-center-d"
         asp-controller="Blog"
         asp-action="Index">
        <span>&lt;</span> Code & Coffees&nbsp;<span>></span>
      </a>
    </div>
    <div class="nav-container">
      <ul class="nav-list">
        <li class="nav-item nav-item-first">
          <a class="nav-link underline-from-center underline-from-center-d"
             asp-controller="Blog"
             asp-action="Index">Blog</a>
          <button id="pwaInstallButton" onclick="addToHomeScreen()"
                  class="btn nav-button round-tl-br"
                  aria-label="PWA install app" style="display:none;">
            PWA
          </button>
          <button id="subscribeButton" class="btn nav-button round-tl-br icon-bell-slash"
                  aria-label="Subscribe To Notifications" style="display:none;" disabled></button>
        </li>
      </ul>
      <div class="hide-md-down">
        <partial name="_AboutAuther" />
      </div>

    </div>
    <div class="nav-brand nav-brand-sm">
      <span class="nav-brand-link">
        <span>&lt;</span> Code & Coffees&nbsp;<span>/></span>
      </span>
    </div>
  </nav>
  <main class="content">
    @RenderSection("PageHeader", required: false)
    <div class="container">
      @RenderBody()

      <div class="hide-lg-up">
        <partial name="_AboutAuther" />
      </div>
      <footer>
        <p>&copy; 2018 - codeandcoffees.com</p>
      </footer>
    </div>
  </main>
  <div id="snackbar"></div>
  
    <script src="/dist/main.js"></script>
  
  @RenderSection("Scripts", required: false)
</body>
</html>
